.DS_Store
postgres-data/*

**/*.db
**/*.db-journal
**/postgres-data

# Byte-compiled / optimized / DLL files
.ipynb_checkpoints
__pycache__/
*.py[cod]
.pytest_cache/
venv/

# C extensions
*.so

# Output and build files
data

# Distribution / packaging
.Python
envs/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# For dev purposes
**/config.py
examples/    
alembic/